<%include views/head>
<div class="inset main-wrapper graph-wrapper" style="height:100%;">
	<div class="outset">
		<h1>Network Graph</h1>
		<hr>
		<p>Zoom, pan, and drag nodes around. <a href="/">Home</a>.</p>
	</div>
	<div id="netvis" class="outset" style="height:100%;"></div>
</div>

<script src="/static/vis.js"></script>
<script>
	let nodes = new vis.DataSet([
		{ id: 1, label: "Node 1" },
		{ id: 2, label: "Node 2" },
		{ id: 3, label: "Node 3" },
		{ id: 4, label: "Node 4" },
		{ id: 5, label: "Node 5" }
	]);
	let edges = new vis.DataSet([
		{ from: 1, to: 3 },
		{ from: 1, to: 2 },
		{ from: 2, to: 4 },
		{ from: 2, to: 5 },
		{ from: 3, to: 3 }
	]);

	new vis.Network(
		document.getElementById("netvis"),
		{ nodes, edges },
		{
			autoResize: false,
			edges: {
				arrows: { to: { enabled: true }, },
				color: "#000080",
			},
			nodes: {
				color: "#1084D0",
				font: "14px monospace white",
				shape: "circle",
			},
		}
	);
</script>
<%include views/foot>
