<%include views/head>

<div style="height:100%;display:flex;flex-direction:column;">
<div class="inset main-wrapper">
<div class="outset">
	<h1>Link Game</h1>
	<hr>
	<p>Hi <%str myname>! Your invite code is <a href="/join/<%str refcode>">links.case.edu/join/<%str refcode></a>.</p>
	<p>Spread your link to get points:</p>
	<ul>
		<li>A CWRU student who joins using your link gets you 1 point.</li>
		<li>Faculty members get you 5 points.</li>
		<li>Eric Kaler is worth 100 points.</li>
	</ul>
</div>

<div class="outset">
	<h1>Stats</h1>
	<hr>
	<p><a href="/tree">Tree</a> <a href="/events">Log</a></p>
	<p>There are <%i64 g_total> total participants:</p>
	<ul>
		<li><%i64 g_nstud> students</li>
		<li><%i64 g_nfac> <a href="/list-faculty">faculty</a></li>
		<li><%i64 g_nkaler> Eric Kalers</li>
	</ul>
	<p><i>You</i> invited <%i64 my_total> of them:</p>
	<ul>
		<li><%i64 my_nstud> students</li>
		<li><%i64 my_nfac> faculty</li>
		<li><%i64 my_nkaler> Eric Kalers</li>
	</ul>
	<p><a href="/profile/<%str leadercaseid>"><%str leadername></a> is in first place (<%i64 leaderpoints> points).</p>
	<p>
		Most recent event:<br>
		<a href="/profile/<%str recentinvitercaseid>"><%str recentinvitername></a>
		invited
		<a href="/profile/<%str recentjoinercaseid>"><%str recentjoinername></a>.
	</p>
</div>
</div>
<div class="center" style="margin-top:auto;font-size:80%;padding-top:4px;padding-bottom:4px;"><a href="https://github.com/Flying-Toast/link_game" target="_blank">Link for nerds</a></div>
</div>

<%include views/foot>
