<%include views/head>

<div class="inset main-wrapper">
<div class="outset">
	<h1><%str myname></h1>
	<hr>
	<p><a href="mailto:<%str caseid>@case.edu"><%str caseid>@case.edu</a></p>
	<p>Invited by <a href="/profile/<%str inviter_caseid>"><%str inviter_fullname></a>.</p>
	<p><%str myname> has invited <a href="/profile/<%str caseid>/events"><%i64 totinvites> people</a>:</p>
	<ul>
		<li><%i64 nstud> students</li>
		<li><%i64 nfac> faculty</li>
		<li><%i64 nkaler> Eric Kalers</li>
	</ul>
	<p><a href="javascript:history.back()">Back</a></p>
</div>
</div>

<%include views/foot>
