<%include views/head>

<div class="inset main-wrapper">
<div class="outset">
	<h1><%s myname></h1>
	<hr>
	<p><a href="mailto:<%s caseid>@case.edu"><%s caseid>@case.edu</a></p>
	<p>Invited by <a href="/profile/<%s inviter_caseid>"><%s inviter_fullname></a>.</p>
	<p><%s myname> has invited <%ld totinvites> people:</p>
	<ul>
		<li><%ld nstud> students</li>
		<li><%ld nfac> faculty</li>
		<li><%ld nkaler> Eric Kalers</li>
	</ul>
	<p><a href="javascript:history.back()">Back</a></p>
</div>
</div>

<%include views/foot>
