*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	padding: 8px;
	margin: 0;
	background-color: #BDBDBD;
	font-family: monospace;
}

.inset {
	padding: 10px;
	border-left: 4px solid #7b7b7b;
	border-top: 4px solid #7b7b7b;
	border-right: 4px solid white;
	border-bottom: 4px solid white;
}

.outset {
	padding: 10px;
	border-left: 4px solid white;
	border-top: 4px solid white;
	border-right: 4px solid #7b7b7b;
	border-bottom: 4px solid #7b7b7b;
}

hr {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid #7B7B7B;
	border-top: 1px solid #7B7B7B;
}

h1 {
	color: white;
	background: linear-gradient(to right, #000080, #1084D0);
	font-size: 150%;
	margin-top: 0;
	padding: 4px 8px;
	font-weight: normal;
	text-align: center;
}

a, a:visited {
	color: blue;
}

ul {
	list-style: square;
	padding-left: 30px;
}

p, ul {
	margin-bottom: 0;
}

ul {
	margin-top: 4px;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 800px;
	margin: 0 auto;
}

.center {
	text-align: center;
}
